<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>トップページ</title>
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="">
<meta name="description" content="">
<script>
$(function($){
	$('html').smoothscroll({easing : 'swing', speed : 1000, margintop : 30, headerfix : $('nav')});
	$('.totop').scrollshow({position : 500});
	$('.slide').slideshow({
		touch        : false,
		bgImage      : true,
		autoSlide    : true,
		effect       : 'fade',
		repeat       : true,
		easing       : 'swing',
		interval     : 5000,
		duration     : 1000,
		imgHoverStop : false,
		navHoverStop : false,
		navImg       : false,
		navImgCustom : false,
		navImgSuffix : ''
	});
});
</script>
<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
<header>
#    <!--<h1><%= image_tag('top/logo.png') %></h1>-->
#	<div class="slide">
#		<ul class="slideInner">
#			<li><%= image_tag('top/photo03.jpg') %></li>
#		</ul>
#	</div><!-- /.slide -->
</header>

<nav>
	<ul>
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'PROFILE', root_path %></li>
        <li><%= link_to 'GARALLY', root_path %></li>
        <li><%= link_to 'BLOG', root_path %></li>
        <li><%= link_to 'CONTACT', root_path %></li>
    </ul>
</nav>

<div id="contents">
	<h2>vscode</h2>

	<div class="threeCol">
        <div class="threeColInner" id="threeColInner" >
		</div><!-- /.threeColInner -->
	</div><!-- /.threeCol -->

	<h2>お知らせ</h2>
	<dl class="information">
		<dt><span>2019-07-14</span></dt>
		<dd>
		<div>
			初版作成
		</div>
		</dd>
		<dt><span>2019-07-15</span></dt>
		<dd>
		<div>
			DB連携完了
		</div>
		</dd>
	</dl>
</div><!-- /.contents -->

<footer>
	<div><small>Copyright &#169; 20XX - 20XX SITENAME All Rights Reserved.</small></div><!-- /.copyright -->
</footer>

<div class="totop"><a href="#"><%= image_tag('top/totop.png') %></a></div><!-- /.totop -->
</body>
<script>
　<!-- 読み込み完了時 -->
  $(function() {
	createArticles();
  });
  <!-- Articlesテーブルから記事を生成します。-->
  function createArticles(){
	for (var i = 0; i < gon.articles.length; i++) {
	  <!-- html要素生成 -->
	  var article_dom ="<div class=\'photoText\' id =" + i + ">\
	    <a href=\"http://www.google.co.jp\">\
	    <img alt=\"image\" src=\"/assets/top/no_image.png\" />\
	    <h4></h4>\
		<\a>\
		<p></p>\
	    </div>";
	  var articleQuery = $(article_dom);
	  var content = $("#threeColInner").append(articleQuery);
	  <!-- DBデータ配置 -->
	  var article = gon.articles[i];
	  var a = $("#threeColInner").find("#" + i)
	  article.IMAGE_PATH == null ? "" : a.find("img").attr('src', '/assets/' + article.IMAGE_PATH);
	  article.LINK == null ? "" : a.find("a").attr('src', '/assets/' + article.IMAGE_PATH);
	  <!-- a.prepend("最終更新:" + article.updated_at.slice(0, 10) + "/" + article.AUTHER); -->
	  a.prepend("最終更新:" + article.updated_at.slice(0, 10));
      a.find("h4").append(article.TITLE);
	  a.find("p").append(article.SUMMERY);
	  
    }
  }
</script>
</html>